.thanks-container{
    background-color: #FCE6B1;
}

.thanks-content{
    display: flex;
    justify-content: center;
    padding: 25px;
    gap: 25px;
}

.thanks-content-div-phrase{
    display: flex;
    align-items: center;
    text-align: center;
}

#thanks-content-img{
    width: 600px;
    height: 500px;
}

#thanks-content-phrase{
    font-size: 40px;
}