/* Dropdown Configuracao */

.nav-content-img{
    position: relative;
    display: inline-block;
}

.nav-content-img-buy-car{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-show{
    display: block;
}

/* Dropdown Estetica */

.nav-content-buy-infotmation-total{
    font-size: 30px;
}

#content-buy-items-image{
    width: 90px;
    height: 70px;
}

/* Divs */

.content-buy-items-image-div{
    display: flex;
    justify-content: center;
}

.content-buy-items-div{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.content-buy-items-div-1{
    display: flex;
    padding: 5px;
    gap: 10px;
}

.content-buy-items-div-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

/* Texto */

.content-buy-items-title-div{
    align-items: center;
    text-align: left;
}

#content-buy-items-title{
    font-weight: 400;
    font-size: 18px;
}

#content-buy-items-price{
    color: #038C3E;
}

/* Botao */

#content-buy-items-remove-button{
    background-color: #db1035;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 8px;
}

#content-buy-items-remove-button:hover{
    cursor: pointer;
    background-color: #73030D;
}

.nav-content-buy-buttons{
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 5px;
}

#nav-content-buy-button-buy{
    width: 80px;
    height: 30px;
    text-align: center;
    background-color: #F2DE79;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #00000070;
}

#nav-content-buy-button-buy:hover{
    cursor: pointer;
    background-color: #A68524;
}